* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#video-canvas {
  width: 30px;
  height: 30px;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 900px;
  height: 900px;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  color: whitesmoke;
  font-size: 10px;
  background-color: white;
  border: 1px solid black;
}

.active {
  background-color: blue;
}
